.navbar-brand {
    background-image: url('../manager/img/logo-menu.png');
}

.logo {
    background-image: url('../manager/img/logo.png') !important;
}

.banner {
    display: none;
    visibility: hidden;
    height: 0px;
    background-image: url('../manager/img/logo-menu.png') !important;
}